#inicio :not(INPUT):not(TEXTAREA){
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.ui-header .ui-title, .ui-footer .ui-title{
	margin-right: 0;
	margin-left: 0;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
	background-color: #FFF;
	border-bottom: 4px solid #e74c3c;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active{
	background-color: #EEE;
	border-color: #EEE;
}
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus{
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
.ui-input-btn input{
	background-color: #e74c3c;
	opacity: 1;
	font-size: 16px;
	text-indent: 0;
	color: #FFF;
	border-bottom: 5px solid #c0392b;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color: #eeeeee;
}
.footer{
	text-align: center;
	border-bottom: 0px solid rgba(0,0,0,0)!Important;
	border-top: 4px solid #e74c3c!Important;
}
.footer p{
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 300;
}
[data-role=page]{
	position:relative !important;
}
[data-role=content]{
	padding-bottom: 110px;
}
[data-role=footer]{
	bottom:0; 
	position:absolute !important; 
	top: auto !important; 
	width:100%;
	height: 84px;
	margin-top: -84px;
} 
.botones-login{
	text-align: center;
	margin-bottom: 30px;
}
.botones-login a{
	text-decoration: none;
	color: #888;
}
.botones-login a:hover, .botones-login a:active{
	text-decoration: none;
	color: #555;
}
.header-h1{
	text-align: right;
}
.open{
	margin-top: 12px!important;
}
.sidebar{
	background-color: #e74c3c!important;
}
.recuadro-sidebar{
	border-bottom: 1px solid #c0392b;
    height: 70px;
    box-sizing: border-box;
    color: #FFF;
    overflow: hidden;
    padding: 22px;
}
.rs1{
	padding: 0;
}
.recuadro-sidebar h2, .recuadro-sidebar h4, .recuadro-sidebar h3{
	margin: 5px;
	color: #FFF;
	font-weight: 400;
	text-shadow: 0 0 0 rgba(0,0,0,0)!important;
}
.recuadro-sidebar h3{
	font-size: 16px;
	margin: 0;
	text-decoration: none!Important;
	padding: 0;
}
.sidebarBTN{
	color: #EEE;
	cursor: pointer;
	text-decoration: none!Important;
}
.horario{
	width: 100%;
	overflow-x: scroll;
}
.table-temas{
	width: 100%;
}
.table-temas tr{
	height: 40px;
}
.table-temas th{
	text-align: left;
}
.table-stroke tbody th, .table-stroke tbody td {
    border-bottom: 2px solid #DDD;
}
.tabla-cursos td, .tabla-cursos th{
	text-align: center;
}
.ui-slider-bg{
	background-color: #e74c3c!important;
	border-bottom-left-radius: 0!important;
}
thead, th{
	background-color: #e74c3c;
    color: #FFF;
    text-shadow: 0 0 0 rgba(0,0,0,0);
}
table{
	background-color: #FFF;	
	border-collapse: collapse;
}
td{
	border: 2px solid #EEE;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
	background-color: #e74c3c;
}