<?xml version='1.0' encoding='utf-8'?>
<widget id="co.edu.ufps.amigosacademicos" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AmigosAcademicos</name>
    <description>
        Sistema de información para el programa Amigos Académicos de la Universidad Francisco de Paula Santander
    </description>
    <author email="gersonlazaro@gersonlazaro.com" href="https://github.com/Meyito/AmigosAcademicosI/">
        Gerson Lázaro - Melissa Delgado - Daniel Vega
    </author>
    <icon src="res/icon.png" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
