<!--Contenedor para administrar amigos académicos.

Editar:
  CICLO:AMIGOS          -> Debe ingresarse una linea por cada amigo académico
                        -> La plantilla se encuentra es assets/lista_amigos.html

Editar manualmente:
  REGISTRO_AMIGOS       -> Cambiar por el link para el registro de un nuevo amigo academico

--> 

          <div class="col-lg-10 col-md-9 col-sm-9 text-center">
            <h3>Listado</h3>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped table-hover str">
                  <tr class="head-table">
                    <th colspan="2">Amigos Académicos</th>
                  </tr>
                  {{CICLO:AMIGOS}}
                  
                </table>
                <hr>
              </div>
              <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <a href="[[REGISTRO_AMIGOS]]" class="btn submit">Registrar amigo Académico</a>
              </div>
            </div>
          </div>