
<!--REEmplazar esto en contenedor y assets/estadisticaPorAmigo.html en el javascript-->

<div class="col-lg-10 col-md-9 col-sm-9 text-center">
             <h3>Estadisticas de la Materia</h3><br>
              
             <div class="panel panel-default center-block center-text">
              <div class="panel-heading">
                <div class="panel-title">
                  <h3>Materias por el amigo académico</h3>
                  <a href="index.php?accion=estadisticas" class="btn btn-danger">Volver al dashboard</a>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <div id="estadisticaPorAmigo"></div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="panel panel-default center-block center-text">
              <div class="panel-heading">
                <div class="panel-title">
                  <h3>Calificación de asesorias</h3>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <table id="calificacionAsesorias" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
            
          </div>