<!--Igual que los anteriores. Reemplazar el contenedor y assets/estadisticaMateriaTema.html en el javascript-->


<div class="col-lg-10 col-md-9 col-sm-9 text-center">
             <h3>Estadisticas de la Materia</h3><br>
              
             <div class="panel panel-default center-block center-text">
              <div class="panel-heading">
                <div class="panel-title">
                  <h3>Temas por Materia</h3>
                  <a href="index.php?accion=estadisticas" class="btn btn-danger">Volver al dashboard</a>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <div id="estadisticaMateriaTema"></div>
                  </div>
                  
                </div>
              </div>
            </div>
            
            
          </div>