<!--Contenedor de registro de asistencia a asesorias

  Editar manualmente
  [[ARCHIVO_PHP]]     -> Colocar el link que procesa el registro
  
-->          

          <div class="col-lg-10 col-md-9 col-sm-9 text-center">
            <h3>Registrar Asesoria</h3>
            <form action="index.php" method="POST">
              <input type="hidden" name="accion" value="registrarAsesoria">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="semestre">
                      <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                    </span>
                    <!--input type="text" name="materia" class="form-control" placeholder="Materia" aria-describedby="materia" required-->
                    <select id="materias" name="materia" class="form-control" required>
                      {{CICLO:MATERIAS}}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="semestre">
                      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    </span>
                    <!--input type="text" name="tema" class="form-control" placeholder="tema" aria-describedby="tema" required-->
                    <select id="temas" name="tema" class="form-control" required>
                      
                    </select>
                  </div>
                </div>
                <div id="codigos-asesoria">
                  <h4 class="text-center">Códigos de los estudiantes</h4>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input name="codigo[]" type="text" class="form-control" placeholder="Código">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-add" type="button" onclick="agregarTab(0)">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button class="btn btn-default btn-add" type="button" onclick="agregarCampoAsesoria();agregarTab(0)">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </span>
                    </div>
                  </div>
                </div> 
              </div>

              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipoComentario" id="tipoComentario1" value="1" checked>
                      Añadir comentarios independientes por cada estudiante.
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="tipoComentario" id="tipoComentario2" value="2">
                      Añadir el mismo comentario para todos los estudiantes.
                    </label>
                  </div>
                  <ul class="nav nav-tabs nav-justified" role="tablist" id="tabs">
                    <li role="presentation" class="active"><a id="link0" href="#0" aria-controls="0" role="tab" data-toggle="tab">Comentarios</a></li>
                  </ul>

                  <div class="tab-content" id="tab-contents">
                    <div role="tabpanel" class="tab-pane active" id="0">
                      <textarea name="comentario[]" id="comentario0" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <input type="submit" class="submit" value="Registrar Asistencia">
              </div>
            </div>
            </form>
          </div>    