<a href="" data-toggle="modal" data-target="#notificacion1" onclick="cargarAlerta('IDENTIFICADOR1')">
                  <div class="alert alert-danger" role="alert">
                    <p><strong>Calificar Asesoria: </strong>Materia - Tema - Nombre del amigo. 14 de Agosto de 2015, 3:00PM</p>
                  </div>
                </a>
                
                <a href="" data-toggle="modal" data-target="#notificacion1" onclick="cargarAlerta('IDENTIFICADOR2')">
                  <div class="alert alert-danger" role="alert">
                    <p><strong>Calificar Asesoria: </strong>Materia - Tema - Nombre del amigo. 14 de Agosto de 2015, 3:00PM</p>
                  </div>
                </a>