<!--Plantilla botón_sidebar
-->			  

			  <a href="index.php?accion=amigos" class="button-sidebar">
                <div class="row item-sidebar">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
                    <span class="glyphicon glyphicon-user"></span>
                  </div>
                  <div class="col-xs-9 col-sm-10 col-md-9 col-lg-8">Amigos Académicos</div>
                </div>
              </a>

              <a href="index.php?accion=temas" class="button-sidebar">
                <div class="row item-sidebar">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </div>
                  <div class="col-xs-9 col-sm-10 col-md-9 col-lg-8">Temas Semanales</div>
                </div>
              </a>

              <a href="index.php?accion=cursos" class="button-sidebar">
                <div class="row item-sidebar">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
                    <span class="glyphicon glyphicon-book"></span>
                  </div>
                  <div class="col-xs-9 col-sm-10 col-md-9 col-lg-8">Cursos</div>
                </div>
              </a>

              <a href="index.php?accion=estadisticas" class="button-sidebar">
                <div class="row item-sidebar">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
                    <span class="glyphicon glyphicon-stats"></span>
                  </div>
                  <div class="col-xs-9 col-sm-10 col-md-9 col-lg-8">Ver Estadísticas</div>
                </div>
              </a>

              <a href="index.php?accion=historicos" class="button-sidebar">
                <div class="row item-sidebar">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
                    <span class="glyphicon glyphicon-list-alt"></span>
                  </div>
                  <div class="col-xs-9 col-sm-10 col-md-9 col-lg-8">Históricos</div>
                </div>
              </a>

              <a href="index.php?accion=reiniciar" class="button-sidebar">
                <div class="row item-sidebar">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </div>
                  <div class="col-xs-9 col-sm-10 col-md-9 col-lg-8">Reiniciar Sistema</div>
                </div>
              </a>

