<!--Plantilla botón_sidebar
-->			  

			  <a href="index.php?accion=asesoria" class="button-sidebar">
                <div class="row item-sidebar">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
                    <span class="glyphicon glyphicon-user"></span>
                  </div>
                  <div class="col-xs-9 col-sm-10 col-md-9 col-lg-8">Registrar Asesoria</div>
                </div>
              </a>

              <a href="index.php?accion=cursos" class="button-sidebar">
                <div class="row item-sidebar">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
                    <span class="glyphicon glyphicon-book"></span>
                  </div>
                  <div class="col-xs-9 col-sm-10 col-md-9 col-lg-8">Registrar Asistencia Cursos</div>
                </div>
              </a>

              <a href="index.php?accion=estadisticas" class="button-sidebar">
                <div class="row item-sidebar">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-4">
                    <span class="glyphicon glyphicon-stats"></span>
                  </div>
                  <div class="col-xs-9 col-sm-10 col-md-9 col-lg-8">Ver Estadísticas</div>
                </div>
              </a>
