<!--Asset para formar la tabla de amigos académicos.

IMPORTANTE: Dado que el link se envia con get, es necesario verificar con variables de sesión
que el tipo de usuario sea admin, de lo contrario, usuarios no autorizados podrian cambiar datos.
Tambien es posible colocar un form con post.

Editar:
  
  BASICO:NOMBRE_AMIGO         -> Nombre del amigo académico
  BASICO:LINK_EDITAR_AMIGO    -> Link desde donde es posible editar a dicho amigo


-->
                  <tr>
                    <td>{{BASICO:NOMBRE_AMIGO}}</td>
                    <td>
                      <a href="{{BASICO:LINK_EDITAR_AMIGO}}" class="btn btn-danger">Editar</a>
                    </td>
                  </tr>